<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Preparing students for both university and the real world. Everywhere.</h2>
        <p>A Hamilton-based nonprofit organization, we aim to raise awareness about the importance of literacy in both local and global communities, as well as aid in further developing the quality of education in local and global communities around the world.</p>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
