<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Plans</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <h3>Home Reading Program</h3>
              <p style="text-align:justify">The goal of this program is to provide students learning to read an opportunity to practice their skills with a skilled reader. Often times, parents do not have the time to help children practice reading skills, and so this program will provide everyone with an equal opportunity to practice reading skills. This program will also provide leadership opportunities to middle school students, who will have the chance to help young reader develop their reading skills.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <h3>High School Science Journal</h3>
              <p style="text-align:justify">Following course curricula set by the Ministry of Education is often not enough preparation for students entering post-secondary schools. Sciencia acknowledges this lack of preparation, and aims to provide an opportunity for students to be able to work with university students in order to publish an evidence-based article that can potentially be published in their own school’s journal. Topics can range from any topic from the field of science to creative arts. This experience will give students an opportunity to hone their academic literacy skills, critical thinking skills, and will ultimately prepare them for a disciplined post-secondary life.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <h3>Global Initiatives</h3>
              <p style="text-align:justify">Overseas, there seems to be plenty of aid in the form of volunteer workers, however there is an evident lack of resources such as work utensils, teaching material, and basic tools such as access to libraries and the internet. Sciencia will collaborate with overseas partners in order to determine what type of aid is needed to further improve the quality of education.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <h3>Volunteer Opportunities</h3>
              <p style="text-align:justify">If you are interested in joining our cause, or have ideas of your own that you would like to be seen done, please check out the “Join Our Team” section below. We have a variety of volunteer opportunities for both high school and university students.</p>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!--<a href="#" class="btn btn-dark">View More Items</a>-->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
